/* HEADING
-------------------------------------- */
.jumbotron{
  background-image: url(../images/possibleHeading.jpg);
  background-size:cover;
  height:auto;
  background-attachment: fixed;
  margin:0;
  max-width:100%;

  /* box-shadow: 10px 10px 5px grey ; */
}
h1,h4{
    font-family: 'Galada', cursive;
    font-weight:400;
    color:black;
    
}
h1{
    font-size:130px;
    margin:0;
    padding-top:300px;
 
}
h4{
    font-size:40px;
    padding-bottom:200px;
    margin-top:0;
    
}
h2{
    font-family: 'Galada', cursive;
    font-weight:400;
    color:black;
    font-size: 70px;
    
}


/* NAVIGATION
--------------------------------------- */
nav{
    text-align: center;
    /* background:black; */
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    margin: 0;
}
nav a{
    font-size:20px;
    color:black;
    display:inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    
}
a:hover{
    color:#ff98b6;
}
/* BODY
--------------------------------------- */
.small-quote{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:32px;
    padding-top:230px;
    padding-bottom:230px;
    padding-left:10%;
    padding-right:10%;
    margin:0;
    background-color: cadetblue;
    height:100%;
    color:white;
}
/* BALLOON DECORATIONS
---------------------------------------- */
.title{
    
    padding-bottom:10px;
    font-family: 'Galada', cursive;
    font-weight:400;
    color:black;
    font-size:60px;
}

hr{
    margin-right: 25%;
    margin-left:25%;
    border-width:2px;
    border-color:white;
    margin-bottom:100px;
}
hr.m{
    margin-right: 25%;
    margin-left:25%;
    border-width:2px;
    border-color:white;
    margin-bottom:100px;
    margin-top:100px;
}
.first{
    background-color:#fee2e2;
    padding:100px 0;
    
}
.second{
    background-color: #fee2e2;
    padding-top: 200px;
    padding-bottom: 200px;
    margin:0;
}

.description{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
    padding-top: 30px;
    padding-right:20px;
    padding-bottom:30px;
    margin-left:0;
}

.space1{
    text-align: center;

}
.img-thumbnail{
    text-align: center;
    margin:0 auto;
    box-shadow: 10px 10px 5px grey;
}
.img-thumbnail.right{
    text-align: center;
    margin:0 auto;
    box-shadow: -10px 10px 5px grey;
}
/* FOOTER */
.foot{
    background-color:#353a40;
    padding:100px;
    color:white;
    text-align: center;
    font-size: 25px;
}
.contact-info a{
    padding:10px;
    display: inline-block;
    margin:30px;
    margin-bottom:0;
    margin-top:0;
    color:white;
}
.contact-info a:hover{
    color:#fee2e2;
}
.contact-info .co{
    color: white;
}
/* CONTACT US PAGE */
.details{
padding-left:200px;
padding-top:20px;
height:600px;
}
.detail{
    padding-top:100px;

}
p{
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size:30px;
}

